<%- include('../includes/admin/header.ejs') %>
<%-include('../includes/admin/nav_bar.ejs') %>

<!-- ============================================================== -->
<!-- * MAIN Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->

      <!-- end page title -->

      <div class="row"></div>
      <!-- end row -->

      <div class="row"></div>
      <!-- end row -->

      <div class="row"></div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <!-- ? footer-note -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          ©
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">abhi302005</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- ============================================================== -->
<!-- ! end  -- MAIN Content here -->
<!-- ============================================================== -->
<%-include('../includes/admin/scripts.ejs') %>
<!-- * custom script file here... -->
<%-include('../includes/admin/footer.ejs') %>
